<div class="jumbotron">
      <h1 class="text-center">FakeBook</h1>
    </div>
    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <p class="cool-font">Name</p>
          <input class="form-control" type="text" id="author" placeholder="Enter Your Name">
          <br>
          <p class="cool-font">Post</p>
          <textarea class="form-control" rows="3" id="chirp-box" placeholder="Enter Chirp Here!"></textarea>
          <button id="chirp-submit" class="btn btn-lg pull-right">Submit!</button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>Posts</h2>
          <hr>
          <div id="chirp-area"></div>
        </div>
      </div>

    </div>