<div class="fb-profile-block">
          <div class="fb-profile-block-thumb"><img src="https://cherieroedirksen.files.wordpress.com/2013/01/facebook-header-spectacular.jpg" alt="" title=""></div>
          <div class="profile-img"><a href="#"><img src="https://s-media-cache-ak0.pinimg.com/originals/dd/ec/b5/ddecb586e252c32108ea72cdbf598419.jpg" alt="" title=""></a></div>
          <div class="profile-name">
            <h2>Mike</h2>
          </div>
          
          <div class="fb-profile-block-menu">
               <div class="block-menu">
                    <ul>
                       <li><a href="#">Timeline</a></li>
                       <li><a href="#">about</a></li>
                       <li><a href="#">Friends</a></li>
                       <li><a href="#">Photos</a></li>
                       <li><a href="#">More...</a></li>
                    </ul>
               </div>
          </div>
           
        </div>

        <div class="main2">

<!-- Content Here -->
<div class="form-group">
    <textarea class="form-control" id="exampleTextarea" placeholder= 'Whats on your mind?' rows="3"></textarea>
    	<button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
  </div>
</div>
