<div class='nav1'>
    <nav class="navbar navbar-light">
     <a class="navbar-brand" href="#">
    FakeBook
  </a>
</nav>
</div>

<div class="fb-profile-block">
          <div class="fb-profile-block-thumb"><img src="https://cherieroedirksen.files.wordpress.com/2013/01/facebook-header-spectacular.jpg" alt="" title=""></div>
          <div class="profile-img"><a href="#"><img src="https://s-media-cache-ak0.pinimg.com/originals/dd/ec/b5/ddecb586e252c32108ea72cdbf598419.jpg" alt="" title=""></a></div>
          <div class="profile-name">
            <h2>Dave</h2>
          </div>
          
          <div class="fb-profile-block-menu">
               <div class="block-menu">
                    <ul>
                       <li><a href="fanpage.html">Home</a></li>
                       <li><a href="#">about</a></li>
                       <li><a href="#">Friends</a></li>
                       <li><a href="#">Photos</a></li>
                       <li><a href="#">More...</a></li>
                    </ul>
               </div>
          </div>
           
        </div>

        
<!-- Content Here -->
<div class='row'>
<div class="col-md-12">
                <div class="widget-area no-padding blank">
                <div class="status-upload2">
                  <form>
                    <textarea placeholder="What are you doing right now?" ></textarea>
                    <ul>
                      <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="glyphicon glyphicon-volume-up"></i></a></li>
                      <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="glyphicon glyphicon-film"></i></a></li>
                      <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Direct Messages"><i class="glyphicon glyphicon-envelope"></i></a></li>
                      <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="glyphicon glyphicon-camera"></i></a></li>
                    </ul>
                    <button type="submit" class="btn btn-success"><i class="fa fa-share"></i> Post</button>
                  </form>
                </div><!-- Status Upload  -->
              </div><!-- Widget Area -->
            </div>
        
    </div>

    <div class='results-div'>
</div>

